.BOS { background-color: #000000; }
.CAR { background-color: #CE1126; }
.COL { background-color: #6F263D; }
.DAL { background-color: #006847; }
.EDM { background-color: #FF4C00; }
.FLA { background-color: #C8102E; }
.LAK { background-color: #111111; }
.NSH { background-color: #FFB81C; }
.NYI { background-color: #F47D30; }
.NYR { background-color: #0038A8; }
.TBL { background-color: #002469; }
.TOR { background-color: #00205B; }
.VAN { background-color: #00843D; }
.VGK { background-color: #B4975A; }
.WSH { background-color: #C8102E; }
.WPG { background-color: #55565A; }
