.containing_table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.containing_table td, table th {
    border: 1px solid black;
    vertical-align: middle;
    height: 50px;
}

.containing_table tr:first-child th {
    border-top: 0;
}

.containing_table tr:last-child td {
    border-bottom: 0;
}

.containing_table tr td:first-child,
.containing_table tr th:first-child {
    border-left: 0;
}

.containing_table tr td:last-child,
.containing_table tr th:last-child {
    border-right: 0;
}

.containing_table th {
    text-align: center;
}

table.table.table-striped td {
    padding: 0px;
}

.person {
    font-weight: bold;
}

.pick {
    width: 100%;
    height: 100%;
    text-align: center;
}

.pick div {
    float: left;
    text-align: center;
    vertical-align: middle;
}

.pick .img_container {
    width: 80%;
    height: 100%;
    vertical-align: middle;
}

.pick .games {
    width: 20%;
    height: 100%;
    vertical-align: middle;
}

.pick tr td {
    text-align: center;
    vertical-align: middle;
    background-color: inherit;
    border: 0px !important;
}

.pick img {
    width: 50px;
}

.points,
.possible_points,
.rank {
    font-weight: bold;
    text-align: center;
}

.leader,
.leader td {
    background-color: yellow !important;
}

.round_total {
    text-align: center;
}

.games {
    color: black;
    font-weight: bold;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.correct {
    background-color: #66B666 !important;
}

.incorrect {
    background-color: #EB7676 !important;
}

.unknown {
}

.winning_seed {
    font-weight: bolder;
    background-color: #66B666;
}
