table.dataTable td {
    font-size: large;
}

td {
    font-size: large;
}

/* table.dataTable tbody tr.stripe-1 {
    background-color: #f2f2f2;
} */

/* table.dataTable tbody tr.stripe-2 {
    background-color: blue !important;
} */

.backToIndex {
    padding-bottom: 10px;
}

.table_div {
    margin-left: 10px;
    margin-right: 10px;
}
